<!DOCTYPE html>
<html lang="en">
<head>
     @*root url will be specified by the view*@
     @*blazor relies on base element to create urls for its files*@
    <base href="@( ViewData["RootUrl"] ?? "/")" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SportsStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    @RenderSection("ExtraCSS", required: false)
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
